body{
  margin: 0;
  height: 100%;
}

#mainContainer{
  display: grid;
  grid-template-columns: repeat(1, 0.6fr) repeat(1, 0.4fr);
  background-color: #e6e6fa;
  height: 100%;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#headerContainer{
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: xxx-large;
  background-color: white;

}

#appTitleContainer{
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: xx-large;
  background-color: rgb(233, 223, 223);
}

#appTitleContainer div{
  padding: 20px 80px 20px 80px;
  color: white;
  border-radius: 20px;
  background-color: rgb(126, 123, 123);
}

#appTitleContainer div:hover{
  color: grey;
  background-color: rgb(255, 251, 251);
}

#bookContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
  padding: 20px;
  grid-column: 1/2;
  white-space: pre-line;
}

#addBookFormContainer{
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: 50px;
  padding: 20px;
  border-radius: 50px;
  background-color: rgb(114, 114, 126);
  grid-column: 2/3;
}

#addBookFormContainer div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 50px;
  /* box-shadow: 2px 2px 3px 3px white; */
}

#addBookFormContainer #addBookHeader{
  font-size: xx-large;
}

#addBookFormContainer #addBookInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid whitesmoke;
  padding: 50px;
  border-radius: 15px;
}

#addBookFormContainer #addBookInput label{
  font-size: x-large;
}

#addBookFormContainer #addBookInput input{
  color: gray;
  width: 400px;
  height: 50px;
  border: none;
  text-align: center;
  font-size: x-large;
  border-style: none;
  border-radius: 20px;
}

#addBookFormContainer #addBookInput input:focus{
  outline: none;
}

#addBookFormContainer #addBookButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#addBookFormContainer #addBookButton button{
  font-size: xx-large;
  color: whitesmoke;
  background-color: rgb(22, 190, 22);
  border: none;
  border-radius: 20px;
  padding: 10px 80px 10px 80px; 
}

#addBookFormContainer #addBookButton button:hover{
  background-color: rgb(5, 92, 5);
}

#footerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: large;
  padding: 10px 0px 10px 0px; 
  grid-column: 1/3;
  background-color: rgb(95, 81, 88);
}

.eachBookDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  background-color: white;
  box-shadow: 2px 2px 3px 3px grey;
  color: rgb(48, 47, 47);
  width: 450px;
  height: 600px;
  padding: 0px 10px 0px 10px;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}

#bookInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
}

#titlePara{
  font-size: xxx-large;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

#byPara{
  font-size: x-large;
  margin: 5px 0px 5px 0px;
}

#authorPara{
  font-size: xx-large;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

#pagesPara{
  font-size: x-large;
  /* font-weight: bold; */
  margin: 5px 0px 5px 0px;
}

#bookIdPara{
  font-size: x-large;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}

.eachBookButton{
  width: 250px;
  height: 50px;
  background-color: rgb(228, 14, 14);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: large;
}

.eachBookButton:hover{
  background-color: rgb(131, 10, 10);
}

#isRead{
  width: 40px;
  height: 30px;
  margin-top: 20px;
}

span{
  margin-bottom: 20px;
}